@import '../../styles/propertySets.css';
@import '../../styles/styleDefaults.css';

.upload-courses-root {
    display: flex;
    text-align: center;
    align-items: center;
}

.box {
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: var(--appColourLight);
    padding: 60px;
    color: white;
}

.test {
    display: flex;
    align-items: center;
    color: white;
    margin: 60px;
}