.sidenav2 {
    height: 100%;
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 0;
    background-color: #6c727c;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav2 a, h3{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #a1f0ee;
    display: block;
  }
  
  .sidenav2 a:hover {
    color: #f1f1f1;
  }
  
  .main2 iframe{
    position: absolute;
    top: 0px;
    left: 160px;
    bottom: 0px;
    height: 100vh;
    padding-top: 40px;
    width: 86.5vw;
    padding-left:30px;
  }

  .main2 img{
    display:block;
    margin-left: auto;
    margin-right: auto;
   }