.create-school-form{    
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-self: center;
    gap:10%;
}
.create-school-header{
    font-size: 36px;
}
.create-form fieldset{
    border-color: white !important;
}
.create-form svg{
    color:white !important;
}
.create-school-box{
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--appColourLight);
    padding: 80px;
    gap: 25px;
    border-radius: 25px;
    color: white;
}
.school-form-name-students{
    display:flex;
    flex-direction: row;
    gap:35px;
    width:fit-content;
    justify-content: space-around;
    align-items: center;
    
}

#school-name{
    flex-grow: 2;
}
