.create-school-form{    
    --width: 100%;
    --height: 90%;
    width:var(--width);
    height: var(--height);
    left:calc((100% - var(--width))/2);
    bottom:calc((60% - var(--height))/2);
    position: absolute;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap:10%;
}
.create-school-header{
    font-size: 36px;
}
.create-school-box{
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--appColourLight);
    padding: 80px;
    gap: 10%;
    border-radius: 25px;
    color: white;
}
.school-form-name-students{
    display:flex;
    flex-direction: row;
    gap:35px;
    width:fit-content;
    justify-content: space-around;
    align-items: center;
    
}

#school-name{
    flex-grow: 2;
}
