.mainBody{
    /* positions the main body into the center of the screen no matter what | taken and adjusted from old Board.css to better fit overall*/
    --width: 100%;
    --height: 90%;
    width:var(--width);
    height: var(--height);
    left:calc((100% - var(--width))/2);
    bottom:calc((100% - var(--height))/2);

    /* centers everything into a column & seperates them a bit*/
    display:flex;
    flex-direction: column;
    text-align: center;
    gap: 10%;
    

    position: absolute; /*needed for background-image to work for most of the page*/
    /* Adds a splash of colour */
    background-image: -moz-linear-gradient(270deg, #a1f0ee, rgb(79, 171, 252));

}

header{
    /* made for header text at the top of pages*/
    color: rgb(20, 59, 103);
    font-size: 36px;
}