.header{

    display: flex;
    flex-direction: row;

    gap: 30px;
    background-color: #a1f0ee;
    margin-bottom: 30px;

    position: sticky;
    top: 0px;
    z-index: 10000;
    height:40px;

}