@import '../styles/styleDefaults.css';


.homepage-wrapper{
    display: flex;
    flex-direction: column;
    height:100%;
}
.header{

    display: flex;
    flex-direction: row;

    gap: 30px;
    background-color: var(--appColourLight);
    justify-content: center;
    align-items: center;
    color:white;

    position: sticky;
    top: 0px;
    z-index: 10000;
    height:40px;

}

.header-two{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    background-color: #6c727c;
    color:white;

    /*
    This will cause the header to always remain right on top of the page
    position: sticky;
    top: 0px;
    */
    z-index: 10000;
    height:40px;
}
.header-two a{
    color:white;
}

.header-name{
    font-family: var(--fontFamily);
    font-weight: var(--fontWeightBold);
    font-size: 40px;
    /* this offset is so it looks centered with the images on dashboard*/
    margin-left: 254px;
    
}