.teacherprofile-stack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
    width: 25%;
}

.stack-item{
    width: 100%;
}

.edit-button{
    width: 50%;
    min-width: 100px;
    height: 40px;
    margin-bottom: 50px;
}

.box-t{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teachable-in{
    display: flex;
    justify-content: left;
    align-items: left;
}