# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Front-end - Node.js CI

on:
  # Only run CI checks when pushing or PR into the main branch
  # AND a file has been changed in the client directory
  push:
    branches: [ "main" ]
    paths:
      - "client/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "client/**"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
        cache-dependency-path: client/package-lock.json
    # NPM clean install - Download and build dependencies from scratch
    - run: npm ci
    # NPM run build - Generate a production build of the application (this may have optimizations not included in dev builds)
    - run: CI='' npm run build --if-present
    # Run all unit tests for the back-end
    - run: npm test

defaults:
# Our front-end project directory is 'client', so set our working directory for npm commands to work
  run:
    working-directory: client